@charset "UTF-8";

html {

}

* {
  margin: 0 auto;
  padding: 0;
}

head {

}

body {
  background-image: url(../imgall/bg.png);
  background-size: cover;
}

header {
  width: 100vw;
  height: 20vh;
}

main {
  width: 100vw;
  height: 60vh;
}

footer {
  width: 100vw;
  height: 20vh;
}

.logohead {
  position: fixed;
  width: 200px;
  top: 1%;
  left: 5%;
}

#balkhead {
  display: block;
  position: fixed;
  top: 5%;
  right: 1%;
  background-color: #524264;
  border: 1px solid black;
  border-radius: 25px;
  width: 70%;
  height: 10%;
}

#navhead a {
  text-decoration: none;
  color: #F0E256;
  font-size: 200%;
  text-align: center;
  margin-left: 3vw;
}

li {
  display: inline;
}

#navhead {
    margin-top: 3vh;
}

 #navhead a:hover {
  color: white;
}

#burger {
  display: none;
}

#balkfoot {
  background-color: #524264;
  border: 1px solid black;
  border-radius: 25px;
  width: 70vw;
  height: 10vh;
  margin-bottom: : 1vh;
}

.icon {
  width: 5vw;
  margin-left: 1vw;
}

#dis {
  color: white;
  margin: 3vh 0 0 2vw;
  float: left;
  font-size: 200%;
  text-decoration: none;
}

#dis:hover {
  color: gray;
}

#infofoot {
  margin: 2vh 0 0 13vw;
  color: white;
  text-align: center;
  float: left;
  font-size: 150%;
}

#navfoot {
  margin: 1vh 1vw;
  float: right;
}

@media screen and (max-width: 479.9px) {
  body {
    background-image: url(../imgall/bgflip.png);
    background-size: cover;
  }

  .logohead {
    position: fixed;
    width: 150px;
    top: 1%;
    left: 5%;
  }

  li {
    display: block;
    text-align: center;
  }

  #balkhead {
    position: fixed;
    top: 3%;
    right: 3%;
    display: none;
    width: 40%;
    height: 29%;
  }

  #navhead a {
    font-size: 170%;
    text-align: center;
    margin-left: 0vw;
    padding: 1% 0% 1% 0%;
  }

  #burger {
    display: block;
    position: fixed;
    top: 3%;
    right: 3%;
    background-color: #524264;
    border: 1px solid black;
    border-radius: 25px;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 4%;
  }

  #sluit {
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 480px max-width: 767.9px) {
  body {
    background-image: url(../imgall/bgflip.png);
    background-size: cover;
  }

  #balkhead {
    display: block;
    position: fixed;
    top: 5%;
    right: 1%;
    background-color: #524264;
    border: 1px solid black;
    border-radius: 25px;
    width: 60%;
    height: 15%;
  }

  #navhead {
    margin: 5% 0% 0% 3%;
  }
}

@media screen and (min-width: 768px max-width: 1279.9px) {
  #navhead a {
    text-decoration: none;
    color: #F0E256;
    font-size: 200%;
    text-align: center;
    margin-left: 4%;
  }

  #navhead {
    margin: 4% 0% 0% 2%;
  }

  #navfoot {
    margin: 1.5vh 1vw;
    float: right;
  }
}
