@charset "UTF-8";
@import url('vars.css');

table,
th,
td {
  border: 1px solid yellow;
  color: yellow;
  background-color: purple;
  text-align: center;
}

.table0 {
  margin: 4% 45% 5% 0%;
}

#table1 th:nth-child(n + 2) {
  min-width: 11.6vw;
}

#table1 {
  margin: -10% 0% 0% 39%;
}

td:hover {
  background-color: palevioletred;
}

h1 {
  color: yellow;
  margin-left: 40%;
  padding-bottom: 1%;
}
